params {
    outdir = "."
}

process {
    resourceLimits = [
        cpus: 2,
        memory: 12.GB,
        time: 1.h ]

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: WGSIM {
        ext.args = "-N 500000 -1 100 -2 100"
    }

    withName: 'BWA_MEM' {
        ext.args = '-R "@RG\\tID:sim\\tSM:chr22wgsim\\tPL:illumina\\tLB:sim"'
    }

    withName: 'SAMTOOLS_SORT'{
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'GATK4_MARKDUPLICATES' {
        ext.args   = '-REMOVE_DUPLICATES false -VALIDATION_STRINGENCY LENIENT'
        ext.prefix = { "${meta.id}_md.bam" }
    }

    withName: 'GATK4_APPLYBQSR' {
        ext.prefix = { "${meta.id}_recal" }
    }

}
