process {

    withName: 'SIMUSCOP_SIMUREADS' {
        cpus = 2
        memory = '6.0GB'
    }

    withName: 'WGSIM' {
        ext.args = "-N 500000 -1 100 -2 100"
    }

    withName: 'BWA_MEM' {
        ext.args = {
            def sample = meta.sample ?: meta.id
            "-R \"@RG\\tID:${sample}\\tSM:${sample}\\tPL:illumina\\tLB:${sample}\""
        }
    }


    withName: 'SAMTOOLS_SORT'{
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'GATK4_MARKDUPLICATES' {
        ext.args   = '-REMOVE_DUPLICATES false -VALIDATION_STRINGENCY LENIENT'
        ext.prefix = { "${meta.id}_md.bam" }
    }

    withName: 'GATK4_APPLYBQSR' {
        ext.prefix = { "${meta.id}_recal" }
    }

}
