/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'WGSIM' {
        ext.args = "-N 500000 -1 100 -2 100"
    }

    withName: 'BWA_MEM' {
        ext.args = '-R "@RG\\tID:sim\\tSM:chr22wgsim\\tPL:illumina\\tLB:sim"'
    }

    withName: 'SAMTOOLS_SORT'{
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'GATK4_MARKDUPLICATES' {
        ext.args   = '-REMOVE_DUPLICATES false -VALIDATION_STRINGENCY LENIENT'
        ext.prefix = { "${meta.id}_md.bam" }
    }

    withName: 'GATK4_APPLYBQSR' {
        ext.prefix = { "${meta.id}_recal" }
    }

}

env {
        GOOGLE_GENAI_API_KEY=secrets.GOOGLE_GENAI_API_KEY
    }
