params {
    outdir = "."
}

process {
    resourceLimits = [
        cpus: 2,
        memory: 6.GB,
        time: 1.h
    ]

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'SAMTOOLS_FAIDX_SUBSET' {
        ext.args = {
            "${meta.chromosome} > ${meta.id}_${meta.chromosome}.fasta"
        }
    }

    withName: 'GATK4_SELECTVARIANTS_GNOMAD' {
        ext.prefix = { "${meta.id}_${meta.chromosome}_gnomad" }
    }

    withName: 'GATK4_SELECTVARIANTS_MILLS' {
        ext.prefix = { "${meta.id}_${meta.chromosome}_mills" }
    }

    withName: 'GATK4_SELECTVARIANTS_1000G' {
        ext.prefix = { "${meta.id}_${meta.chromosome}_1000g" }
    }

    withName: 'GATK4_SELECTVARIANTS_DBSNP' {
        ext.prefix = { "${meta.id}_${meta.chromosome}_dbsnp" }
    }
    withName: 'SAMTOOLS_SORT'{
        ext.prefix = { "${meta.id}_sorted" }
    }
    withName: 'SUBVAR' {
        memory = 6.GB
        ext.args = ''
    }
}

process {
    conda = { "${projectDir}/environments/${task.process.tokenize(':')[-1].toLowerCase()}.yml" }
}

conda {
    enabled = true
    cacheDir = "${projectDir}/conda_cache"
}

