process {
    withName: 'SAMTOOLS_FAIDX_SUBSET' {
        ext.args = { "${meta.chromosome}" }
    }

    withName: 'SAMTOOLS_FAIDX_INDEX' {
        ext.args = ''
    }

    withName: 'SAMTOOLS_FAIDX_SIZES' {
        ext.args = ''
    }

    withName: 'SUBSETCAPTURE' {
        ext.args = ''
    }

    withName: 'GATK4_SELECTVARIANTS' {
        ext.args = ''
    }

    withName: 'SUBVAR' {
        ext.args = ''
    }
}
