process {
    withName: 'VALIDATE_FASTQ_TO_VCF:BWA_MEM' {
        cpus = 2
    }
    memory = '7 GB'
    time = '2h'
}

    withName: 'BWA_MEM' {
        memory = '7 GB'
        ext.args = {
            def sample = meta.sample ?: meta.id
            "--threads 2 -R \"@RG\\tID:${sample}\\tSM:${sample}\\tPL:illumina\\tLB:${sample}\""
        }
    }


    withName: 'SAMTOOLS_SORT'{
        memory = '7 GB'
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'GATK4_MARKDUPLICATES' {
        memory = '7 GB'
        memory = '7 GB'
        ext.args   = '-REMOVE_DUPLICATES false -VALIDATION_STRINGENCY LENIENT'
        ext.prefix = { "${meta.id}_md.bam" }
    }

    withName: 'GATK4_APPLYBQSR' {
        ext.prefix = { "${meta.id}_recal" }
    }

conda.enabled = true
